<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://app-global.pgyer.com/62cda71ac72d94ac0f55bfbd784d9fd0.ipa?attname=AdvancedCustomize.ipa&sign=9d61aaa564f725ed26e3a26913ec53f5&t=5bcf45e5</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/liyouyiyi/AdvancedCustomize/master/icon_57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/liyouyiyi/AdvancedCustomize/master/icon_512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>AdvancedCustomize.8848phone.com</string>
				<key>bundle-version</key>
				<string>1.1.34</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>AdvancedCustomize</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
